body{
    background-color: black;
    font-family: 'Ubuntu', sans-serif;
}
/* ------------------------------ */
div{
    background-color:rgb(32, 28, 28);
    color: rgb(236, 236, 238);
}
div.border{
    height:720px;
    width:1280px;
    border-style: solid;
    border-color: transparent;
    display: flex;
    align-items: center;
}

div.border2{
    height:720px;
    width:1280px;
    border-style: solid;
    border-color: transparent;
}
div.borderShort{
    height:1280px;
    width:720px;
    border-style: solid;
    border-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* ------------------------------ */
div.question{

    margin-left: 50px;
    margin-top: 0px;
}
p.QuestionAuthor{
    font-size: 30px;
    color:rgb(80, 80, 82);
    margin: 0px;
}
p.QuestionText{
    font-size: 60px;
}

/* --------------------------------- */
div.answerChildren{
    border-style: solid;
    border-color: transparent;
    border-left-color: rgb(0, 119, 255);
    margin-left:20px;
}
div.answerRoot{
    border-style: solid;
    border-color: transparent;
    border-left-color: red;
    margin-left: 50px;
    font-size: 50px;
}
p.commentAuthor{
    color:rgb(64, 123, 169);
    font-size: 25px;
    margin:0px;
}
p.commentText{
    margin:0px;
}
span.comment{
    margin:0px
}
/* --------------------------- */

.thumbnail{
    
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    font-size: large; 
}
div.text{
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    border-style: solid;
    border-color: transparent;
}
div.askreddit{
    font-size: 30px;
}
img.askreddit{
    width:30px;
}
img.thumbnailImage{
    width:640px;
    height:720px;
}
div.questionTextThumbnail{
    font-size: 90px;
}
/* ----------------------------------- */
div.questionShort{
    display: flex;
    flex-direction: column;
    align-items: center;
}
p.QuestionAuthor{
    margin: 0px;
    font-size: 20px;
}
p.QuestionText{
    margin: 0px;
    font-size: 30px;
}